/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
body { padding-top: 60px; }
@import "bootstrap-responsive";

.add-form {
  padding-left: 10px;
  height: 80px;
}

.add-form .controls {
  float: left;
  margin-right: 15px;
}

.add-form .controls input.string{
  width: 300px;
}


.pages-list ul {
  list-style-type: none;
}

.pages-list ul li {
  height:   80px;
  position: relative;
}
.pages-list ul li .name {
  position:   absolute;
  left:       65px;
  top:        15px;
  font-size:  1.5em;
}

a {
  color: #000;
}

.feed .feed-bloc:first-child{
  margin-top: 50px;
}

.feed-bloc {
  position: relative;
  width: 800px;
  background: rgb(235, 235, 235);
  margin: 15px auto;
  padding: 10px;
}

.feed-bloc .author {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.feed-bloc .picture {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.feed-bloc .message {
  text-align: justify;
}

.feed-bloc .footer {
  position: relative;
  clear: both;
  bottom: 0px;
  font-size: 0.7em;
  color: gray;
}
